**/node_modules
**/.pnpm-store
**/.yarn
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock

**/dist
**/.next
**/.nuxt
**/.out
**/build
**/.cache
**/.tsbuildinfo

**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/.github
**/.gitlab
**/.vscode
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.swp

**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.npm
**/.eslintcache
**/.prettiercache
**/*~
**/.DS_Store
**/Thumbs.db

**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
