@import url('https://googleapis.com');

:root {
  --color-primary: #060f16;
  --color-secondary: #63a6da;
  --color-accent: #ecaf44;
  --color-complementary: #efbc95;
  --color-light: #f3e9dc;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-primary);
  --color-border: var(--color-complementary);
  --color-border-hover: var(--color-light);
  --color-heading: var(--color-accent);
  --color-text: var(--color-secondary);

}

*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .title .subtitle{
  font-family: 'Exo 2', sans-serif;
}
