@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #060f16;
  --color-secondary: #63a6da;
  --color-accent: #ecaf44;
  --color-complementary: #efbc95;
  --color-light: #f3e9dc;

  --color-background: var(--color-primary);
  --color-border: var(--color-complementary);
  --color-border-hover: var(--color-light);
  --color-heading: var(--color-accent);
  --color-text: var(--color-secondary);

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body,
#app {
  min-height: 100vh;
}

body {
   background-image:
    linear-gradient(
      to bottom,
      rgba(6,15,22,.75) 0%,
      rgba(6,15,22,.35) 40%,
      rgba(6,15,22,.60) 100%
    ),
    url('/los-santos-desktop.webp');

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-image:
      linear-gradient(
        rgba(6, 15, 22, 0.55),
        rgba(6, 15, 22, 0.70)
      ),
      url('/los-santos-mobile.webp');

    background-attachment: scroll;
  }
}

h1, h2, h3, h4, h5, h6, .title .subtitle{
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: var(--color-heading);
}

h1, h2, h3, h4, h5, h6, .title .subtitle{
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: var(--color-heading);
}
